<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href='../../css/index.${__("locale")}.css'>
</head>
<body>
${__("title")}
iam bidlist
<a href='../bid/index.${__("locale")}.html'>跳转到bid/index.${__("locale")}.html</a>
</body>
</html>